* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100vh;
}
header {
  background-color: black;
  font-size: 2rem;
}
nav {
  display: flex;
  flex-direction: row-reverse;
}
a {
  padding: 15px;
}

.icono {
  display: flex;
  float: right;
  border: 2px solid black;
  padding: 15px;
}
h1 {
  color: rgb(104, 42, 42);
}
