* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100vh;
}
header {
  background-color: black;
  font-size: 2rem;
  color: white;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}
a {
  padding: 15px;
}

.icono {
  display: flex;
  float: right;
  border: 2px solid black;
  padding: 15px;
}
.title {
  color: white(104, 42, 42);
  font-size: 3rem;
}
.main {
  background-color: rgb(255, 255, 255);
  height: 700px;
}
footer {
  background-color: black;
  color: white;
  font-size: 15px;
}
.boton {
  background-color: white;
  margin: 10px;
}
a:link {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.containerItem {
  border: 3px solid black;
  font-size: 2rem;
  color: blue;
  background-color: rgb(121, 89, 48);
  width: 400px;
  height: 70%;
  margin-bottom: 1000px;
}
